body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h2 {
    text-align: center;
}
form {
    max-width: 550px;
    margin: 20px auto;
    padding: 30px;
    background-color: #212529;
    border-radius: 10px;
    color: white;
}

.custom-color {
    background-color: lightgrey;
    
}

/* .containerd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    background-color: #212529;
    color: white;
    border-radius: 10px;
} */

/* .img {
    width: 50%;
    height: 50%;
    object-fit: cover;
} */